InventoryHud {
  width: 100%;
  height: 100%;
  position: absolute;
  flex-grow: 0;
  transition: opacity 0.2s ease;
  align-items: flex-end;
  
  .pane {
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #333, #222);
    bottom: 24px;
    left: 48px;
    opacity: 0;
    transition: all 0.1s ease;
    pointer-events: none;
    z-index: 5;
  }
  
  .grid-line-vertical {
    width: 2px;
    height: 100%;
    background-color: #777;
    z-index: 6;
  }

  .grid-line-horizontal {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #777;
    z-index: 6;
  }
  
  ControlsPane {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: white;
    font-size: 24px;
    font-family: Poppins;
    flex-direction: column;
    transition: opacity 0.1s ease;
    pointer-events: none;
    gap: 4px;
    
    .control {
      flex-direction: row;
      align-items: center;
      gap: 4px;
      opacity: 1;
      transition: opacity 0.1s ease;
      
      .key {
        width: 32px;
        height: 32px;
        background-color: #777;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:outro {
        opacity: 0;
      }

      &:intro {
        opacity: 0;
      }
    }
    
  }

  &.open {
    pointer-events: all;
    opacity: 1;

    .pane {
      opacity: 1;
      pointer-events: all;
      bottom: 48px;
    }

    ControlsPane {
      left: 48px;
      bottom: 370px;
    }
  }
}

.selected-item-preview {
  position: absolute;
  z-index: 10;
}

.preview-cell {
  position: absolute;
  background-color: #555;
  z-index: 4;
}

.ammo {
  width: 50px;
  height: 100px;
  left: 100px;
}

InventoryPane {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-start;
}