InventoryGridItem {
  position: absolute;
  z-index: 10;
  
  &:hover {
    background-color: #888;
  }
}

.action-menu {
  position: absolute;
  opacity: 0;
  flex-direction: column;
  left: 100%;
  background-image: linear-gradient(to bottom, #333, #222);
  color: #ccc;
  border: 2px #ccc;
  padding: 4px;
  gap: 8px;
  font-size: 22px;
  z-index: 14;
  
  .action-option {
    &:hover {
      background-color: #777;
    }
  }
  
  &.show {
    opacity: 1;
  }
}

.quantity {
  position: absolute;
  font-size: 32px;
  text-stroke: 4px black;
  font-weight: bold;
  color: #ccc;
  padding: 4px;
  top: 1px;
  right: 1px;
}